<form name="new-contact" ng-submit="add.addContact(contact)">
  <p class="control">
    <input name="name" type="text" placeholder="Name"
           ng-model="contact.name" />
  </p>
  <p class="control">
    <input name="userpic" type="text" placeholder="Your photo url"
           ng-model="contact.url" />
  </p>
  <p class="control">
    <input name="email" type="text" placeholder="email"
           ng-model="contact.email" />
  </p>
  <p class="control">
    <input name="phone" type="text" placeholder="phone #"
           ng-model="contact.phone" />
  </p>
  <p class="control">
    <input name="loc" type="text" placeholder="location"
           ng-model="contact.loc" />
  </p>
  <button class="button is-primary">Add contact</button>
</form>
